html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #000080;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, button, textarea {
  font-size: inherit;
  font-family: inherit;
  padding: 8px 12px;
  outline: none;
}

nav {
  padding: 20px 0px;
}
