.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.inputGroup input, .inputGroup textarea {
  margin-top: 4px;
}

.inputError {
  margin-top: 4px;
  color: #DC143C;
}

.submit {
  background-color: #1E90FF;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
}

.inputGroup, .submit {
  max-width: 400px;
}

.post {
  border-radius: 4px;
  border: 1px solid #A9A9A9;
  padding: 20px;
}

.post h2 {
  margin-top: 0px;
}

.post + .post {
  margin-top: 12px;
}

.vote {
  background-color: #2E8B57;
  color: #ffffff;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
}
